{% extends 'homebase.html' %}

{% block title%}Home Page{% endblock title%}
{% block keywords%} Home Keywords {% endblock %}
{% block description%} Home Description {% endblock %}

{% block top_header %} 
    {% include 'top_header.html' %}
{% endblock top_header %}

{% block header %}
    {% include 'header.html' %}
{% endblock header %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock slider %}

{% block body %}
    {% include 'body.html' %}
{% endblock body %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}